*{
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ---------------------ESTILOS DEL PROYECTO-------------------- */


/*ESTILOS HEADER*/

h1{
  text-align: center;
  color: #F65828;
}

/*ESTILOS DE DESCRIPCIÓN.JSX */
.bg{
  background-color: #F65828;
}

.container-1{
  position: relative;
  height: 100%;
}
.textoconimg{
  background-image: url(../src/Assets/img/img1.jpg);
  background-repeat: no-repeat;
  background-size:45%;
  background-position: 70%;
  width: 100%;
  position:absolute;
  top: 26%;
  color: #FFD2B8;
  
}

.h3-1{
  padding-top: 10%;
  font-size: 50px;
  position:relative;
  left: 12%;
  width: 30%;
  text-align: left;
  color: #F65828;
}

h3{
  text-align: center;
  color:#FFD2B8;
}
h1{
  color:#FFD2B8
}
.container-2{
  position: absolute;
  padding-top: 30%;
  color: #F65828;
  text-align: center;
  display: flex;
  flex-direction: column;
  
}

.select{
  width: 30%;
  margin-left: 35%;
}
input{
  width: 10%;
  margin-left: 45%;
}

/*ESTILOS FOOTER*/
.footer{
  width: 100%;
  height: 20%;
  margin-top: 2%;
  position: absolute;
  text-align:center;
  padding-top: 4%;
  color:#FFD2B8;
}

/*Estilos descripción 2.0*/

.containercards{
  display: flex;
  flex-wrap: wrap;
  padding-top: 50%;

}
.card{
  
  position: relative;  
  max-width: 18rem;
  background-color: #F65828;  
  color: white;
  margin: 1%;
}

