*{
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ---------------------ESTILOS DEL PROYECTO-------------------- */


/*ESTILOS HEADER*/

h1{
  text-align: center;
  color: #F65828;
}

/*ESTILOS DE DESCRIPCIÓN.JSX */
.bg{
  background-color: #F65828;
}

.container-1{
  position: relative;
  height: 100%;
}
.textoconimg{
  background-image: url(../src/Assets/img/img1.jpg);
  background-repeat: no-repeat;
  background-size:45%;
  background-position: 70%;
  width: 100%;
  position:absolute;
  top: 26%;
  color: #FFD2B8;
  
}

.h3-1{
  padding-top: 10%;
  font-size: 50px;
  position:relative;
  left: 12%;
  width: 30%;
  text-align: left;
  color: #F65828;
}

h3{
  text-align: center;
  color:#FFD2B8;
}
h1{
  color:#FFD2B8
}
.container-2{
  position: absolute;
  padding-top: 30%;
  color: #F65828;
  text-align: center;
  display: flex;
  flex-direction: column;
  
}

.select{
  width: 30%;
  margin-left: 35%;
}
input{
  width: 10%;
  margin-left: 45%;
}

/*ESTILOS FOOTER*/
.footer{
  width: 100%;
  height: 20%;
  margin-top: 2%;
  position: absolute;
  text-align:center;
  padding-top: 4%;
  color:#FFD2B8;
}

/*Estilos descripción - Objetos que se van a imprimir con .map*/

.containercards{
  display: flex;
  flex-wrap: wrap;
  padding-top: 45%;
  text-align: center;

}
.card{
  
  position: relative;  
  max-width: 18rem;
  background-color: #F65828;  
  color: white;
  margin: 1%;
}

/*ESTILOS DE LAS CARDS*/
.d-1 {
  --c: #ffbb83; /* the color */
  --b: .1em;    /* border length*/
  --d: 20px;    /* the cube depth */
  
  --_s: calc(var(--d) + var(--b));
  
  color: var(--c);
  border: solid #0000;
  border-width: var(--b) var(--b) var(--_s) var(--_s);
  background:
    conic-gradient(at left var(--d)  bottom var(--d),
    #F65828 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
    conic-gradient(at left var(--_s) bottom var(--_s),
      #F65828 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
  transform: translate(calc(var(--d)/-1),var(--d));
  clip-path: 
    polygon(
     var(--d) 0%, 
     var(--d) 0%, 
     100% 0%, 
     100% calc(100% - var(--d)),
     100% calc(100% - var(--d)),
     var(--d) calc(100% - var(--d))
    );
  transition: 0.5s;
}
.d-1:hover {
  transform: translate(0,0);
  clip-path: 
    polygon(
     0% var(--d), 
     var(--d) 0%, 
     100% 0%, 
     100% calc(100% - var(--d)), 
     calc(100% - var(--d)) 100%, 
     0% 100%
   );
}
